html, body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  height: 100% !important;
}

/* remove the underline link style */
a:focus, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 200%;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff), to(#ffffff), color-stop(50%, #ffffff));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* add a gap */
.initGap {
  display: block;
  content: " ";
  height: 100px;
  visibility: hidden;
}

.customDisabled {
  text-decoration: line-through;
  cursor: not-allowed !important;
  color: #808080;
}

h1 {
  font-size: 150%;
}
