<div id="starterStyle">
  <div class="container">

    <!-- logo -->
    <div class="row">
      <img class="img-responsive" src="../images/adidas.png">
    </div>

    <div class="divider">

    </div>
    <!-- iconos -->
    <div class="row">

      <img class="img-responsive col-xs-offset-1 col-xs-2" src="../images/adidas.png">
      <img class="img-responsive col-xs-offset-1 col-xs-2" src="../images/adidas.png">
      <img class="img-responsive col-xs-offset-1 col-xs-2" src="../images/adidas.png">
      <img class="img-responsive col-xs-offset-1 col-xs-2" src="../images/adidas.png">
      <img class="img-responsive col-xs-offset-1 col-xs-2" src="../images/adidas.png">

    </div>
    <!-- botones -->
    <div class="row">

    </div>

  </div>
</div>
