<div id="styleStyle">

  <!-- logo -->
  <div id="bannerLogo">
    <img class="imgRespUcode" src="../images/style/navbar.png">
  </div>

  <div class="container">


    <div class="row">
      <div class="col-xs-6" id="styleHandler">
        <div id="accordionsSection">

          <!-- CLOTH ACCORDION -->
          <div class="accordionCard">
            <button class="accordion" ng-click="openCard(1)"
                    ng-class="{active: showClothCard}">
              CLOTHES: <span style="margin-left: 5%">$ {{totalClothes}}</span>
            </button>
            <div class="panel" ng-class="{show: showClothCard}">
              <div class="col-xs-5 clothStyle" ng-repeat="cloth in clothesList"
                   ng-click="activeCloth(cloth.id)" ng-class="{selectedCloth: cloth.selected}">
                <img class="img-responsive"
                     ng-src="{{cloth.src}}">
                <p>Model: {{cloth.model}} <span>  $ {{cloth.price}}</span></p>
              </div>
            </div>
          </div>

          <!-- STYLE ACCORDION -->
          <div class="accordionCard">
            <button class="accordion" ng-click="openCard(2)"
                    ng-class="{active: showStyleCard}">
              STYLES: <span style="margin-left: 5%">$ {{totalStyles}}</span>
            </button>
            <div class="panel" ng-class="{show: showStyleCard}">
              <div class="col-xs-5 clothStyle" ng-repeat="cloth in stylesList"
                   ng-click="activeStyle(cloth.id)" ng-class="{selectedCloth: cloth.selected}">
                <img class="img-responsive"
                     ng-src="{{cloth.src}}">
                <p>Model: {{cloth.model}} <span>  $ {{cloth.price}}</span></p>
              </div>
            </div>
          </div>

          <!-- LOGO ACCORDION -->
          <div class="accordionCard">
            <button class="accordion" ng-click="openCard(3)" ng-class="{active: showLogoCard}">
              LOGOS: <span style="margin-left: 5%">$ {{totalLogos}}</span>
            </button>
            <div class="panel" ng-class="{show: showLogoCard}">
              <div class="col-xs-5 clothStyle" ng-repeat="cloth in logosList"
                   ng-click="activeLogo(cloth.id)" ng-class="{selectedCloth: cloth.selected}">
                <img class="img-responsive"
                     ng-src="{{cloth.src}}">
                <p>Model: {{cloth.model}} <span>  $ {{cloth.price}}</span></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-6" id="styleView">
        <img class="imgRespUcode"
             ng-src="{{styleImageView}}">
      </div>
    </div>

  </div>
</div>
