#styleStyle .clothStyle {
  /* shadow effect to the wardrobe box */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  /* cursor pointer effect when the mouse is over the wardrobe */
  cursor: pointer;
  border-radius: 0;
  margin: 20px 10px;
  padding: 10px;
  background-color: #ffffff;
  position: relative;
}

/* change the color shadow when 'hover' */

#styleStyle .clothStyle:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 102, 232, 0.2), 0 6px 20px 0 rgba(0, 102, 232, 0.19);
}

#styleStyle .clothStyle.selectedCloth {
  /* shadow effect to the wardrobe box */
  box-shadow: 0 2px 4px 0 rgba(235, 140, 0, 0.2), 0 3px 10px 0 rgba(235, 140, 0, 0.19);
}
